.header__quit {
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  cursor: pointer;
  transition: opacity 0.2s ease;
  border: 0;
  background-color: inherit;
  padding: 0;
}

.header__quit:hover {
  opacity: 0.8;
}
