.main {
  width: 100%;
  max-width: 918px;
  margin: 0 auto;
  flex-grow: 1;
}

.main__title {
  margin-top: 0;
}

.main__form {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.main__input {
  width: 90%;
  height: 30px;
  padding: 1px 5px;

  font-size: 24px;
  font-weight: 400;

  border: 0;
  box-sizing: border-box;
  border-radius: 3px;
}

.main__input:focus {
  outline: none;
}

.main__button {
  display: block;
  width: 80px;
  height: 30px;
  margin: auto 0 auto 5px;

  color: white;
  font-size: 14px;
  font-weight: 500;

  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 3px;
  background-color: black;
  transition: background-color 0.2s ease;
}

.main__button:hover {
  cursor: pointer;
  background-color: #545454;
}

.main__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.main__button:disabled:hover {
  background-color: black;
}

.main__error {
  position: absolute;
  left: 0;
  top: 34px;

  color: red;
  font-size: 15px;
  font-weight: 700;
}

.main__container {
  height: 70px;
  margin-top: 25px;
}

.main__subtitle {
  margin-bottom: 0;
  font-size: 24px;
}

.main__result {
  margin: 0;
  width: max-content;

  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;

  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .main {
    padding: 0 10px;
  }
}
