body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}

html {
  height: 100vh;
}

.page {
  height: 100vh;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: 'Arial', sans-serif;
}

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__path/header__path.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__quit/header__quit.css);
@import url(./blocks/header/__container/header__container.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__form-set/auth__form-set.css);
@import url(./blocks/auth/__form-field/auth__form-field.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__input/_type/_email/auth__input_type_email.css);
@import url(./blocks/auth/__submit/auth__submit.css);
@import url(./blocks/auth/__login/auth__login.css);
@import url(./blocks/auth/__login-btn/auth__login-btn.css);
