.header {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  width: 100%;
  max-width: 918px;
  padding: 0 19px;
  padding-top: 45px;
  margin: 0 auto 25px auto;

  box-sizing: border-box;
  border-bottom: solid 1px #545454;
}

@media screen and (max-width: 319px) {
  .header {
    padding: 28px 0 0 0;
  }
}
